<!-- 

<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/main"><button>Home</button></a>
    </div>
  <div class="form">
    <div class="side_img">   
    </div>
  <div class="form_container">
   <form action="/article" method="post">

   
 <input type="text" name="title" placeholder="Title....">  
 <textarea name="desc" id="" cols="30" rows="10" placeholder="Your Post....."></textarea>
 <textarea name="info" id="" cols="30" rows="10" placeholder="more infor.."></textarea>
 <button class="btn btn-info" type="submit">Submit</button>
    
   </form> 
  </div>  
  </div>  
</div> -->







<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">New Article</h1>

    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>
</html>